.wrapper {
  width: 800px;
  height: 300px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.logo-wrapper {
  width: 325px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.logo {
  width: 325px;
  margin-left: -15px;
}

#clip-data {
  text-align: center;
  margin-top: 50px;
  color: white;
  opacity: 0.5;
}

#clip-data #playlist {
  font-size: 2em;
  font-weight: bold;
}

#clip-data #clip-and-angle {
  font-size: 1em;
  margin-top: 15px;
}

#c {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.pause {
  width: 180px;
  height: 180px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.overlay {
  width: 100%;
  height: 55px;
  position: absolute;
  background: #000000;
  top: 0;
  left: 0;
  opacity: 0.5;
  color: #FFFFFF;
}

.overlay span {
  color: #FFFFFF;
}

.drops {
  list-style: none;
  position: relative;
  height: 10px;
  width: 140px;
  margin: 0 auto; /* center the -webkit-animation */
  margin-top: 115px;
}

#breakdownDataTable {
  margin-left:10px;
  margin-top:10px;
  padding:5px;
}

.drops li {
  position: absolute;
  top: 0px;
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 5px;
  margin-left: -3000px; /* the dots like to jump out of place without this */
  -webkit-animation-name: loading;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
}
.drops li:nth-child(1) {
  left: 0px;
  -webkit-animation-delay: 250ms;
}
.drops li:nth-child(2) {
  left: 40px;
  -webkit-animation-delay: 500ms;
}
.drops li:nth-child(3) {
  left: 80px;
  -webkit-animation-delay: 750ms;
}
.drops li:nth-child(4) {
  left: 120px;
  -webkit-animation-delay: 1s;
}
.drops li:nth-child(5) {
  left: 160px;
  -webkit-animation-delay: 1.25s;
}
@-webkit-keyframes loading {
  0% { margin-left: -3000px; }
  30%,70% { margin-left: 0px; }
  100% { margin-left: 3000px; }
}

.drops li {
  background-color: #f87620;
  box-shadow:  0 0 5px #f87620, 
               0 0 10px #f87620, 
               0 0 15px #f87620, 
               0 0 20px #f87620, 
               0 0 30px #ffffff, 
               0 0 40px #ffffff;
}
/* Presentation - toggle buttons and positioning/backgrounds */
body {
  background: #080808;
  padding: 1em;
  overflow: hidden;
  font-family: Verdana, Tahoma, Arial, Sans-Serif;
}